---
import type { GetStaticPaths } from "astro";
import { fetchApi } from "@lib/strapi";
import type { Blogpost } from "@lib/api-types";
import Layout from "@layouts/Layout.astro";

export const getStaticPaths = (async () => {
  const blogposts = await fetchApi<Blogpost[]>({
    endpoint: "blogposts",
  });

  return blogposts.map((blogpost) => ({
    params: {
      slug: blogpost.attributes.slug,
    },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const blogposts = await fetchApi<Blogpost[]>({
  endpoint: "blogposts",
});

const blogpost = blogposts.find(
  (blogpost) => blogpost.attributes.slug === slug,
);

if (!blogpost) {
  throw new Error(`No blogpost found for slug: ${slug}`);
}

const {
  id,
  attributes: { content, createdAt, title },
} = blogpost;

console.log(title);
---

<Layout title={title}>
  <h1>Blogpost</h1>
  <p>id: {id}</p>
  <p>slug: {slug}</p>
  <p>title: {title}</p>
  <p>createdAt: {createdAt}</p>
  <p>content: {content}</p>
</Layout>
