---
import i18next from "i18next";
import { LanguageSelector } from "astro-i18next/components";
import { Footer, type FooterProps } from "@components/Footer";
import { Header, type HeaderProps } from "@components/Header";
import blog from "@icons/blog.svg?raw";
import calendar from "@icons/calendar.svg?raw";
import certificate from "@icons/certificate.svg?raw";
import eifelCourse from "@icons/eifel-course.svg?raw";
import golfBag from "@icons/golf-bag.svg?raw";
import golf from "@icons/golf.svg?raw";
import greenkeeper from "@icons/greenkeeper.svg?raw";
import group from "@icons/group.svg?raw";
import member from "@icons/member.svg?raw";
import moselCourse from "@icons/mosel-course.svg?raw";
import parentTraining from "@icons/parent-training.svg?raw";
import soccer from "@icons/soccer.svg?raw";
import star from "@icons/star.svg?raw";
import team from "@icons/team.svg?raw";
import trainer from "@icons/trainer.svg?raw";

interface Props {
  title: string;
}

const { title } = Astro.props;

const headerData: HeaderProps = {
  navAriaLabel: "Open main menu",
  homeHref: "/",
  items: [
    {
      label: "Golfclub",
      subItems: [
        {
          label: "News & Blog",
          href: "/blog",
          description: "Erfahre das Neuste aus dem Golfclub Cochem/Mosel e.V.",
          icon: blog,
        },
        {
          label: "Mitgliedschaft",
          href: "/mitgliedschaft",
          description: "Alles über eine Mitgliedschaft in unserem Golfclub",
          icon: member,
        },
        {
          label: "Mannschaften",
          href: "/mannschaften",
          description: "Lerne unsere vier aktiven Mannschaften kennen",
          icon: team,
        },
        {
          label: "Events & Turniere",
          href: "/events",
          description: "Alle interessanten Events des Golfjahrs 2023",
          icon: calendar,
        },
      ],
    },
    {
      label: "Golfplatz",
      subItems: [
        {
          label: "Mosel Course",
          href: "/mosel-course",
          description: "Professioneller, naturnaher 18-Loch Platz",
          icon: moselCourse,
        },
        {
          label: "Eifel Course",
          href: "/eifel-course",
          description:
            "9-Loch Platz, der ohne DGV-Ausweis gespielt werden kann",
          icon: eifelCourse,
        },
        {
          label: "Footgolf",
          href: "/footgolf",
          description: "Die perfekte Mischung aus Fußball und Golf",
          icon: soccer,
        },
        {
          label: "Driving Range",
          href: "/driving-range",
          description: "Ein paar Bälle schlagen",
          icon: golf,
        },
        {
          label: "Platzinformationen",
          href: "/platzinformationen",
          description: "Aktuelle Informationen zum Platz",
          icon: greenkeeper,
        },
      ],
    },
    {
      label: "Jugend",
      href: "/jugend",
    },
    {
      label: "Golfkurse",
      subItems: [
        {
          label: "Trainer",
          href: "/trainer",
          description:
            "Lerne unsere engagierten und ausgebildeten Trainer kennen",
          icon: trainer,
        },
        {
          label: "DGV Platzreife",
          href: "/dgv-platzreife",
          description: "Jetzt die Platzreife machen",
          icon: certificate,
        },
        {
          label: "Schnupperkurse",
          href: "/schnupperkurse",
          description: "Den Golfsport kennen lernen ",
          icon: golfBag,
        },
        {
          label: "Elterntraining",
          href: "/elterntraining",
          description:
            "Kinder und Eltern gemeinsam für den Golfsport begeistern",
          icon: parentTraining,
        },
        {
          label: "Gruppentraining",
          href: "/gruppentraining",
          description: "Gemeinsam trainieren und Spaß haben",
          icon: group,
        },
        {
          label: "Bundeswehr",
          href: "/bundeswehr",
          description: "Spezielle Angebote für Bundeswehrangehörige",
          icon: star,
        },
      ],
    },
    {
      label: "Gäste",
      href: "/gaeste",
    },
    {
      label: "Über uns",
      href: "/ueber-uns",
    },
  ],
};

const footerData: FooterProps = {
  columns: [
    {
      title: "Golfclub",
      links: [
        {
          label: "Blog",
          href: "/blog",
        },
        {
          label: "Mitgliedschaft",
          href: "/mitgliedschaft",
        },
        {
          label: "Mannschaften",
          href: "/mannschaften",
        },
        {
          label: "Events & Turniere",
          href: "/events",
        },
      ],
    },
    {
      title: "Golfplatz",
      links: [
        {
          label: "Mosel Course",
          href: "/mosel-course",
        },
        {
          label: "Eifel Course",
          href: "/eifel-course",
        },
        {
          label: "Footgolf",
          href: "/footgolf",
        },
        {
          label: "Driving Range",
          href: "/driving-range",
        },
        {
          label: "Platzinformationen",
          href: "/platzinformationen",
        },
      ],
    },
    {
      title: "Jugend",
      links: [
        {
          label: "Golfcamps",
          href: "/golfcamps",
        },
        {
          label: "Schulsport",
          href: "/schulsport",
        },
      ],
    },
    {
      title: "Golfkurse",
      links: [
        {
          label: "Trainer",
          href: "/trainer",
        },
        {
          label: "DVG Platzreife",
          href: "/dgv-platzreife",
        },
        {
          label: "Schnupperkurse",
          href: "/schnupperkurse",
        },
        {
          label: "Elterntraining",
          href: "/elterntraining",
        },
        {
          label: "Gruppentraining",
          href: "/gruppentraining",
        },
        {
          label: "Bundeswehr",
          href: "/bundeswehr",
        },
      ],
    },
  ],
  lastRowLinks: [
    {
      label: "Impressum",
      href: "/impressum",
    },
    {
      label: "Datenschutzerklärung",
      href: "/datenschutz",
    },
  ],
};
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Golf Cochem</title>
  </head>
  <body>
    <Header
      homeHref={headerData.homeHref}
      items={headerData.items}
      navAriaLabel={headerData.navAriaLabel}
      client:load
    />
    <main>
      <LanguageSelector showFlag={true} class="my-select-class" />
      <slot />
    </main>
    <Footer
      columns={footerData.columns}
      lastRowLinks={footerData.lastRowLinks}
    />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik.ttf") format("truetype-variations");
    font-weight: 100 1000;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  @media (forced-colors: none) {
    * {
      outline-offset: 0;
      outline: 2px solid transparent;
    }
  }

  *:focus-visible {
    outline-color: #2238df;
    outline-offset: 2px;
    transition: outline-offset 150ms ease-out;
  }

  html {
    font-family: "Rubik", system-ui, sans-serif;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  @layer components {
    .underline-effect {
      @apply relative before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-primary-700 before:transition-transform before:duration-300 before:ease-[ease-in-out] before:content-[''] hover:before:origin-left hover:before:scale-x-100;
    }
  }
</style>
